@font-face {
  font-family: 'neontubes';
  src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot");
  src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot?#iefix") format("embedded-opentype"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff2") format("woff2"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff") format("woff"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
//Colours
$background-classic: #07338C;
$font-light: #e4dce3;
$faded: rgba(255, 255, 255, 0.74);
$pink: #F00797;
$bluish:  #4DA9B3;
$go-green:  #66E663;
$duration-orange: #F25C05;

//Fonts
$main-font: 'Quicksand', sans-serif;

//Borders
$solid-white: solid 2px $font-light;
$radius: 4px;

/*--------------GENERAL ELEMENTS------------------*/

body {
  font-family: $main-font;
  background-color: $background-classic;
  color: $font-light;
  margin: 0;
  padding: 0 5%;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: scroll;
  transition: 1s ease-in-out;
}

h1 {
  padding-top: 40px;
  font-size: 50px;
  font-family: $main-font;
  margin: 0px;
}

h2 {
  font-family: $main-font;
}

h4 {
  font-size: 18px;
  margin: 10px;
  padding: 0;
}

button {
  background-color: $background-classic;
  color: $font-light;
  padding: 5px;
  margin: 2px;
  font-family: $main-font;
  border-radius: $radius;
  border: $solid-white;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
  transform: translate(-2px, -2px);
}

button:active {
  transform: scale(0.95);
}

a {
  text-decoration: none;
  color: $font-light;
}

a:hover {
  text-shadow: 0 0 5px $font-light;
}

a:active{
  transform: scale(0.95);
}

.App {
  max-width: 500px;
  min-width: 310px;
  border-radius: 10px;
  background-color: $background-classic;
  border: $solid-white;
  border-radius: 9px;
  margin: 20px auto;
}

/*--------------MODE SELECTORS------------------*/

.modes {
  display: inline-flex;
  padding-top: 10px;
}

.mode {
  font-size: 20px;
  margin: 10px;
  padding-bottom: 2px;
  border: none;
  border-radius: 0;
}

.mode-selected {
  border-bottom: $solid-white;
  color: $font-light;
}

.mode:active {
  box-shadow: none;
}

.hide-me {
  display: none;
}

/*---------------TIMER-----------------*/
.timer-cont {
  display: block;
  margin: 10px 0 20px 0;
  padding: 0;
}

.duration-button {
  border: solid 2px $bluish;
  font-size: 16px;
}

.timer, .stopwatch {
  font-size: 70px;
  font-family: $main-font;
  margin: 5px 10px 10px 10px;
}

.controls-cont, .sett-butt-cont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 210px;
  margin: auto auto 20px auto;
}

.control-button {
  width: 90%;
  margin: auto;
  max-width: 100px;
  font-size: 20px;
}

.start-button {
  border: solid 2px $go-green;
}

.pause-button {
  border: solid 2px $pink;
}

.reset-button {
  border: solid 2px $bluish;
}

#icon-button {
  font-size: 16px;
  padding: 5px;
  width: 25%;
}

#icon-button-s {
  font-size: 15px;
  padding: 4px 0;
}

/*---------------STOPWATCH-----------------*/
.stopwatch-cont {
  display: block;
}

/*---------------TRACKER-----------------*/

.tracker-cont {
  display: grid;
  grid-template-columns: 0.8fr 1fr 0.5fr 0.5fr;
  grid-gap: 2px;
  margin: 10px auto 20px auto;
  width: 80%;
  max-width: 270px;
  padding: 12px;
  border: $solid-white;
  border-radius: $radius;
}

.tracker-on {
  border: solid 2px $go-green;
}

.tracker-start-button {
    font-size: 18px;
}

.tracker-start-button:hover {
  border: solid 2px $go-green;
}

.tracker-button-on {
  border: solid 2px $go-green;
}

.tracker-button-on:hover {
  border: solid 2px $pink;
  box-shadow: none;
}

.tracker {
  font-family: $main-font;
  font-size: 24px;
  margin: auto;
  grid-column-start: 2;
  grid-column-end: 3;
}

.tracker-reset-button {
  border: solid .5px $bluish;
  grid-column-start: 3;
}

/*---------------SAVE ACTIVITY-----------------*/
#save-time {
  top: 200px;
  padding-bottom: 20px;
}

.save-cont, .act-done {
  background: $font-light;
  color: $background-classic;
  width: 80%;
  border-radius: $radius;
  margin: 10px auto 15px auto;
  padding: 5px 0 10px 15px;
  text-align: left;
}

.activity-input {
  padding-top: 10px;
}

.worked-time {
  font-family: $main-font;
  font-size: 20px;
}

.input-act {
  margin-left: 5px;
  margin-bottom: 0;
  height: 25px;
}

.save-button-modal-cont {
  text-align: center;
}

.save-button-modal {
  background-color: $font-light;
  border: solid 2px $background-classic;
}

#save-button-modal {
  font-size: 24px;
  padding: 0;
  margin: auto;
  background: $font-light;
  color: $background-classic;
}

.act-done {
  max-width: 230px;
  width: 60%;
}

.display-acts-col {
    margin-right: 10px;
    width: 100%;
    word-break: break-all;
}

.add-cal-cont {
  background-color: $background-classic;
  border-radius: $radius;
  margin: 0 auto 0 10px;
  padding: 5px 0 5px 10px;
  width: 180px;
}

.add-cal-cont:hover {
  cursor: pointer;
}

#trash-butt {
  font-size: 20px;
  padding: 0;
}

/*---------------SETTINGS-----------------*/
.settings-and-about-cont {
  max-width: 300px;
  margin: 30px auto 0 auto;
  padding-bottom: 30px;
}

.about-on, .conts-on {
  display: block;
}

.sett-butt-cont {
  width: 250px;
}

#menu-button {
    font-size: 18px;
    width: 95%;
}

.disabled {
  box-shadow: none;
  border: solid 1px grey;
  color: grey;
}

.disabled:hover {
  box-shadow: none;
  text-shadow: none;
}

.disabled:active {
  box-shadow: none;
  text-shadow: none;
}

/*-------------------MODAL-----------------------*/
.settings-header {
  display: flex;
  margin: 15px 0 10px 0;
}

.setts-head-text {
  margin: auto;
}

.close-settings {
  position: absolute;
  right: 1px;
  top: 2px;
  border: none;
  padding: 0;
  margin: 2px 2px 0 0;
}

.close-settings:active {
  border: none;
  box-shadow: none;
}

#fa-close {
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.modal {
  display: block;
  position: fixed;
  max-width: 330px;
  max-height: 80%;
  margin: auto;
  top: 50px;
  left: 20px;
  right: 20px;
  border: $solid-white;
  border-radius: 10px;
  background: $background-classic;
  overflow: auto;
  z-index: 100;
}

.form-title {
  margin: 0;
}

.sounds-cont {
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  text-align: left;
}

.sounds-sub-1 {
  padding-left: 10px;
  grid-column-start: 2;
}

.test-button {
  margin-bottom: 25px;
  font-size: 14px;
}

.reset-confirm {
  top: 40%;
  background-color: $font-light;
  color: $background-classic;
  padding-bottom: 10px;
  overflow-y: hidden;
}

.confirm-butt-c {
  background: $font-light;
  color: $background-classic;
  border: solid 1px $background-classic;
}

.confirm-butt-r {
  border: solid 1px $background-classic;
  padding-left: 8px;
  padding-right: 8px;
}

.confirm-text {
  font-size: 18px;
}

/*---------------ABOUT / CONTACT-----------------*/
.about-cont {
  width: 80%;
  margin: 0 auto;
}

.pom-link {
  text-decoration: underline;
}

/*---------------SETTINGS INPUTS-----------------*/
.input-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;
}

.form-labels {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: right;
  font-size: 18px;

  p {
    margin: 5px 0 5px 0;
  }
}

.inputs {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.input-box {
  margin:  5px 0 10px 15px;
  width: 40px;
  text-align: center;
  font-family: $main-font;
  font-size: 22px;
  border-radius: $radius;
  border: $solid-white;
  background-color: $font-light;
}




/*---------------MEDIA-----------------*/

@media screen and (max-width: 650px) {
  .App { 
    margin: 20px auto 20px auto;
  }

  h1 {
    padding-top: 20px;
  }

  .tracker {
    font-size: 20px;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 35px;
  }

  button {
    font-size: 14px;
  }

  .mode {
    font-size: 20px;
  }

  .timer, .stopwatch {
    font-size: 60px;
  }

  .duration-button {
    font-size: 15px;
  }

  .about-button {
    margin-left: 35px;
  }

  .tracker-start-button {
    font-size: 15px;
}

  .settings-button {
    margin-left: 15px;
  }
  .control-button {
    font-size: 15px;
  }
  .add-cal-cont {
    margin: 0 auto 0 -8px;
  }
}

@media screen and (max-width: 450px) and (max-height: 600px) {
  h1 {
    padding-top: 0;
  }

  .App {
    margin-top: 10px;
  }
}

/*---------------SOCIAL BUTTONS-----------------*/
.contact-cont {
  padding-top: 20px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
